@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario: #6BBB43;
    --color-secundario: #1C3E2C;
    --blanco-color: #FCFDFA;
    --negro-color: #151515;
    --naranja-color: #F17F34;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

input {
	outline: none;
	border: none;
}

button {
    outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

header{
    background-color: rgb(36, 33, 33);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
    margin-right: auto;
}

.container-logo h1 a {
	text-decoration: none;
	color: var(--blanco-color);
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-logo h1 a b{
	color: var(--color-primario);
}

.header .btn a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-left: 25px;
    padding: 9px 25px;
    background-color: #6BBB43;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn a:hover{
    background-color: white;
    color: var(--color-primario);
    transform: scale(1.1);
}

.header .btn-register a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    color: #6BBB43;
    margin-left: 25px;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn-register a:hover{
    background-color: #1C3E2C;
    color: white;
    transform: scale(1.1);
}
.header .btn-salir button{
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    color: #6BBB43;
    margin-left: 25px;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn-salir button:hover{
    background-color: #1C3E2C;
    color: white;
    transform: scale(1.1);
}
/*Categorias*/

.heading-1 {
	margin: 20px 0px;
	text-align: center;
	font-weight: 500;
	font-size: 30px;
}

.carrusel{
    width: 100%;
}

.carrusel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.categorias-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 275px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.categorias-deslizar{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.categoria{
    position: relative;
    width: 300px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.categoria h4{
    position: absolute;
    z-index: 1;
    font-size: 24px;
    line-height: 23px;
    color: var(--blanco-color);
    padding: 15px;
    font-weight: bold;
}

.categoria h4 small{
    font-size: 17px;
    display: block;
    font-weight: bold;
}

.categoria a img{
    object-fit: cover;
    height: 275px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}

.categoria a img:hover{
    background: rgba(0,0,0,.5);
}

.flecha{
    border-radius: 30px;
    background-color: var(--blanco-color);
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}

.flecha:focus{
    outline: 0;
}

.flecha svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}

.izquierda{
    left: 0px;
}

.derecha{
    right: 0px;
}

/*Cards*/

.cards{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.cards-cuerpo{
	width: 200px;
	height: 375px;
	position: relative;
	box-shadow: 0 4px 4px black;
	border-radius: 8px;
}

.cards-img{
	width: 100%;
	height: 200px;
	border-radius: 8px;
	overflow: hidden;
}

.cards-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.cards-img img:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

.cards-cuerpo h2{
	font-size: 18px;
	color: var(--color-secundario);
	letter-spacing: 1px;
    padding: 10px 10px 0px 10px;
}

.cards-cuerpo h3{
	font-size: 15px;
	font-weight: 500;
	color: var(--negro-color);
	padding: 0px 10px 0px 10px;
}

.cards-cuerpo p{
	font-size: 12px;
	font-weight: 500;
	color: var(--negro-color);
	padding-left: 10px;
}

.cards-cuerpo button{
	position: absolute;
	right: 0;
	bottom: 0;
	background: var(--color-secundario);
	border-radius: 4px 0 4px 0;
	border: none;
}

.cards-cuerpo button:hover{
	background: var(--color-primario);
}

.cards-cuerpo .fa-cart-shopping{
	font-size: 20px;
	padding: 10px;
	color: var(--blanco-color);
}

.cards-cuerpo .fa-cart-shopping:hover{
	background: var(--color-primario);
}

/*Contactos*/

.form{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.form a i{
    color: var(--color-secundario);
    margin: 10px;
}

.form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid var(--color-secundario);
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.form form textarea{
    min-height: 140px;
    max-height: 150px;
}

.form .btn-enviar{
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: var(--color-primario);
    color:  var(--blanco-color);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.form .btn-enviar:hover{
    background: var(--color-secundario);
}

hr{
    margin-top: 20px;
    border: none;
    width: 90%;
    height: 2px;
    background: var(--color-primario);
}

.pie-pagina{
    width: 100%;
}

.pie-pagina .grupo-2{
    background-color: var(--color-secundario);
    padding: 15px 10px;
    text-align: center;
    color:  var(--blanco-color);
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}