@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--color-primario: #6BBB43;
	--color-secundario: #1C3E2C;
	--blanco-color: #FCFDFA;
	--negro-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: "Barlow", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*Header*/

.container-header {
	background-color: rgb(36, 33, 33);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo h1 {
	text-decoration: none;
	color: var(--blanco-color);
	font-size: 28px;
	margin-right: auto;
}

.container-logo h1 b{
	color: var(--color-primario);
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--color-primario);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--color-primario);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

.content-shopping-cart span {
	color: var(--blanco-color);
	font-size: 12px;
}

/*Navbar*/

.container-navbar {
	background-color: var(--color-primario);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color:  var(--blanco-color);
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color:  var(--blanco-color);
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid  var(--blanco-color);
	border-radius: 2rem;
	background-color:  var(--blanco-color);
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--color-primario);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color:  var(--blanco-color);
}

/*Categorias*/

.heading-1 {
	margin-top: 20px;
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-verduras {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/frutas.jpg');
		

	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-frutas {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/frutas.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-granos {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/granos.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color:  var(--blanco-color);
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color:  var(--blanco-color);
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color:  var(--blanco-color);
	cursor: pointer;
}

.card-category span:hover {
	color: var(--color-primario);
}

/*Cards*/

.cards{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.cards-cuerpo{
	width: 200px;
	height: 350px;
	position: relative;
	box-shadow: 0 4px 4px black;
	border-radius: 8px;
}

.cards-img{
	width: 100%;
	height: 200px;
	border-radius: 8px;
	overflow: hidden;
}

.cards-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.cards-img img:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

.cards-cuerpo h2{
	font-size: 18px;
	color: var(--color-secundario);
	letter-spacing: 1px;
	padding: 8px;
}

.cards-cuerpo h3{
	font-size: 15px;
	font-weight: 500;
	color: var(--negro-color);
	padding: 0px 10px 0px 10px;
}

.cards-cuerpo p{
	font-size: 12px;
	font-weight: 500;
	color: var(--negro-color);
	padding-left: 10px;
}


.cards-cuerpo button{
	position: absolute;
	right: 0;
	bottom: 0;
	background: var(--color-secundario);
	border-radius: 4px 0 4px 0;
	border: none;
}

.cards-cuerpo button:hover{
	background: var(--color-primario);
}

.cards-cuerpo .fa-cart-shopping{
	font-size: 20px;
	padding: 10px;
	color: var(--blanco-color);
}

.cards-cuerpo .fa-cart-shopping:hover{
	background: var(--color-primario);
}

/*Contactos*/

.form{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.form a i{
    color: var(--color-secundario);
    margin: 10px;
}

.form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid var(--color-secundario);
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.form form textarea{
    min-height: 140px;
    max-height: 150px;
}

.form .btn-enviar{
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: var(--color-primario);
    color:  var(--blanco-color);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.form .btn-enviar:hover{
    background: var(--color-secundario);
}


hr{
    margin-top: 20px;
    border: none;
    width: 90%;
    height: 2px;
    background: var(--color-primario);
}

.pie-pagina{
    width: 100%;
}

.pie-pagina .grupo-2{
    background-color: var(--color-secundario);
    padding: 15px 10px;
    text-align: center;
    color:  var(--blanco-color);
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}


/*Responsive*/

@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.header {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.form{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }

	.navbar .fa-bars {
		display: block;
		color:  var(--blanco-color);
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}


}

@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}
	
	.heading-1 {
		font-size: 2.8rem;
	}

}

/**** Usuario apartado ****/

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #1c3e2c, #6bbb43);
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid  var(--blanco-color);
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color:  var(--blanco-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-data,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color:  var(--blanco-color);
    border-radius: 15px;
    width: 100%;
	margin-bottom: 20px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-top: 25px;
	margin-bottom: 20px;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 100%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 7px 0;
    font-size: 12px;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.btn-usuario{
	margin: 20px;
}

.btn-usuario a{
    text-decoration: none;
    padding: 9px 40px;
    font-family: Monda;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    background:  var(--color-secundario);
    color:  var(--blanco-color);
    cursor: pointer;
}

.contenedor-formP{
	justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
	margin: 20px;
}

.contenedor-formP input{
	border: 1px solid var(--color-secundario);
	font-size: 17px;
	width: 400px;
}

.contenedor-formP label{
	font-size: 14px;
	margin-bottom: 10px;
}

.contenedor-formP button{
	font-size: 14px;
	margin: 10px;
}

table {
	font-size: 14px;
	margin: 20px 0px;
}

table button i{
	font-size: 15px;
}


/**** Comprar ****/


.contenedor-compra{
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 3%;
    background: #131f19;
}

.form2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 20px;
}
.contenedor-compra h1{
    color:  var(--blanco-color);
    margin-top: 12px;
}

.form2 h1{
    color:  var(--blanco-color);
    margin-top: 12px;
}

.form2 p{
	color:  var(--blanco-color);
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.form2 .campo{
    width: 100%;
    padding: 10px 10px;
    background: var(--color-secundario);
    font-size: 15px;
    border: 1px solid var(--blanco-color);
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.form2 .btn-enviar{
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
    border-color: var(--blanco-color);
    color: var(--blanco-color);
	margin-bottom: 20px;
}

.form2 .btn-enviar:hover{
    background: var(--color-primario);
}

.form2 input{
    color: var(--blanco-color);
    text-align: left;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-gap: 30px;
    margin: 10px 0 20px 0;
}

.pago{
    text-align: center;
    border-radius: 5px;
    font-size: 9px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
    border-color: var(--blanco-color);
}

.pago h3{
    color: var(--blanco-color);
}

.pago:hover{
    border-color: var(--color-secundario);
    background: var(--color-primario);
    transform: scale(1.05);
}

.result{
    width: 96%;
    color: var(--blanco-color);
    font-size: 25px;
    background-color: var(--color-secundario);
    display: grid;  
    padding: 10%;
    margin-right: 50vh;
    text-align: center;
	margin-bottom: 50px;
}

.result .text{
    text-align: right;
}